.character-detail-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.character-detail-content {
  background: white;
  color: #333;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 10px;
  color: #333;
}

.dark .character-detail-content {
  background: #310656;
  color: #f3f4f6;
  box-shadow: 0 0 50px rgb(162, 126, 247, 0.3);
}

.dark .close-button {
  color: #f3f4f6;
}

.dark .close-button:hover {
  color: #c084fc;
}
